a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.body{
    margin: 0;
}
.header{
    padding:0;
}
.redStrip{
    min-height:12px;
    background:#2095F2;
    padding:0;
}
.clear{
    clear:both;
}
.socialheader{
    padding-top:25px;
}
.socialicons{
    color:#2095F2;
    font-size:18px;
    margin-left:15px;
}
.calibri{
    color: #717171;
    font-family: Calibri;
    font-size: 15px;
    font-weight: 600;
}
.menu{
    margin-top:27px;
}
.menuitems {
     cursor: pointer;
    display: inline;
    font-family: Calibri;
    font-size: 1.4rem;
    margin-left: 0;
    padding: 7px;
    text-transform: uppercase;
}
.activemenuitem{
    color:#2095F2;
}
/*Header Css Ends from Here*/
/*Container Css Start from Here*/
.sliderheader {
    font-family: Trebuchet MS;
    font-size: 55px;
    font-weight: bold;
}
.centercontent {
    margin-top: 5px;
}
.backgroundcontainer{
    background: url("../images/transparentbackground.png");
    height:500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.serviceimage{
    height:200px;
    width:200px;
    background-size:100% 100% !important;
    border-radius:50%;
    margin: 0 auto 20px;
    border:3px solid #eee;
}
.servicebox{
    text-align: center;
    margin-top:75px;
}
.serviceheading{
    color: white;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 2px;
}
.servicecontent{
    color: white;
    font-size:14px;
    padding:0 10px;
}
.backgroundcontainersecond{
    background: #eee;
    height:425px;
}
.heading {
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    margin: 50px 0 40px;
}
.commenticon{
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 66px;
    padding: 31px;
}
.headingtext{
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    padding-left: 30px;
    text-align: left;
}
.contenttext{
    color: #777;
    font-size: 13px;
    line-height: 1.3;
    padding-left: 30px;
    text-align: left;
}
.backgroundcontainerthird{
    background: #fff;
    height:375px;
}
.heading2{
    font-size: 45px;
    color: #2095F2;
    font-weight: bold;
    margin: 50px 30px 20px;
    text-align: left;
}
.clientbox{
    text-align: center;
    margin-top:65px;
}
.clientname{
    color: #2095F2;
    font-size: 18px;
    font-weight: bold;
}
.clientimage{
    background-position: 27% center !important;
    background-size: 120% 124% !important;
    height: 202px;
    width: 200px;
}
.clientmessage{
    color: #aaa;
    font-size: 13px;
    line-height: 1.5;
    padding: 0 20px;
}
.map{
    padding:0;
}
/*Footer Css Start from Here*/
.upperfooter {
    padding: 30px 50px;
}
.footerblock {
    border-right: 1px solid #ccc;
    padding: 40px;
}
.blockheadtext {
    font-family: Trebuchet MS;
    font-size: 18px;
}
.blockvalue{
    font-family: Trebuchet MS;
}
.lowerfooter{
    background: #428bca none repeat scroll 0 0;
    color: white;
    font-family: verdana;
    font-size: 16px;
    height: 120px;
    padding-top: 50px;
    text-align: center;
}
/* footer css end*/
/* about us page css start */
.about {
    color: #555;
    font-family: Trebuchet MS;
    font-size: 32px;
    text-align: center;
}
.line{
    border:3px solid #2095F2;
    width:8%;
    margin-left: 46%;
    margin-bottom: 40px;
}
.zig{
    margin-top: 20px;
}
.numbering {
    background: #2095F2 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-size: 37px;
    height: 74px;
    line-height: 72px;
    margin-top:5px;
    text-align: center;
    width: 75px;
}
.headingafternumber {
    color: #fff;
    font-family: calibri;
    font-size: 18px;
    font-weight: normal;
}
.aboutcontent {
    color: #999;
    font-family: trebuchet ms;
}
.aboutdivs{
    padding: 0;
    margin-bottom:30px;
}
.abouttext {
    color: #666;
    font-family: Trebuchet MS;
    line-height: 1.6;
}
.aboutheader{
    background: rgba(0, 0, 0, 0) url("../images/aboutpageheader.jpg") no-repeat scroll 0 0;
    height: 366px;
    margin-bottom:20px;
}
/* about us page css end */
/* heritage page css start*/
.heritage{
    color: #555;
    font-family: Trebuchet MS;
    font-size: 22px;
    text-align: center;
}
.heritageheader{
    height: 500px;
    margin-bottom: 20px;
    margin-top: -21px;
    overflow: hidden;
    padding: 0;
}
.newdesignli{
    background: #2095F2 none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    font-family: trebuchet ms;
    font-weight: bold;
    list-style: outside none none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.videotopdiv {
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
}
.videotopdivtext{
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}
/* heritage page css end*/
/* Contact us page css starts */
.loginheader {
    color: #333;
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.signuplink {
    color: #333;
    font-family: TREBUCHET MS;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.signuplink a{
    color: #2095F2;
}
.results-header{
    background: red;
    color:white;
    width: auto;
    height:auto;
    border-radius: 15px;
    padding-top: 5px;
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal1-content {
    position: relative;
    background-color: lightgray;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal1-header {
    padding: 2px 16px;
    background-color: steelblue;
    color: white;
}

.modal1-body {padding: 2px 16px;height: 100px;}

.modal1-footer {
    padding: 2px 16px;
    background-color: steelblue;
    color: white;
    height: 50px;
}
