#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background: rgba(66,139,202,0.95);
    padding : 5px 15px;
    height: auto;
    overflow: hidden;
    /*overflow-x: hidden;*/
}
.no-gutter{
    margin: 0px;
    padding: 0px;
}
.boxes{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
}

